body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ececfb;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

h1 {
  background: transparent url(/images/header.png) center center no-repeat;
  overflow: hidden;
  text-indent: -9000em;
  padding: 0.3em 0;
  margin-bottom: 1em;
}

.head {
  background-color: #333;
  height: 12px;
  overflow: hidden;
}
.head div {
  display: block;
  float: left;
  margin: 1px 0 0 1px;
}
.head #saleiva, .head #mamuso, .head #bomberstudios {
  width: 10px;
  height: 10px;
}
.head #saleiva {
  background-color: #09c80a;
}
.head #mamuso {
  background-color: #d540d6;
}
.head #bomberstudios {
  background-color: #fc0;
}

.speakers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.speakers li {
  margin: 0 0 2em 0;
  padding: 0;
  position: relative;
  padding: 1em 0 2em 1em;
}
.speakers img {
  padding: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  width: 120px;
  height: 120px;
  margin: 0 1em 0 0;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  display: block;
  float: left;
}
.speakers .container {
  display: inline-block;
  width: 370px;
}
.speakers h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.speakers .ponencia {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.speakers .ponencia div {
  display: inline;
}
.speakers .hotness {
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
  color: #ff0000;
  text-shadow: #fff 0 1px 0;
  display: inline-block;
}
.speakers .hotness .wat {
  font-size: 12px;
  line-height: 1em;
  color: #666;
  font-weight: 400;
  font-style: italic;
}
.speakers .hotness .index {
  background: transparent url(/images/minifleim.png) right 9px no-repeat;
  padding-right: 15px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fe0e0e;
}

.futer {
  font-weight: 100;
  font-size: 0.7em;
  margin: 2em 0;
  text-align: center;
}
.futer img {
  width: 26px;
}