body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ececfb;
}

.wrap {
  width: 40em;
  margin: 0 auto;
}

h1 {
  font-weight: 800;
  text-align: center;
  color: #b1b1bc;
  text-shadow: 0 1px 1px #fff;
  background: transparent url(/images/logo_ux.png) left center no-repeat;
  text-align: right;
}

.head {
  background-color: #333;
  height: 12px;
  overflow: hidden;
}
.head div {
  display: block;
  float: left;
  margin: 1px 0 0 1px;
}
.head #saleiva, .head #mamuso, .head #bomberstudios {
  width: 10px;
  height: 10px;
}
.head #saleiva {
  background-color: #09c80a;
}
.head #mamuso {
  background-color: #d540d6;
}
.head #bomberstudios {
  background-color: #fc0;
}

.speakers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.speakers li {
  margin: 0 0 3em 0;
  padding: 0;
}
.speakers img {
  float: left;
  padding: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  width: 120px;
  height: 120px;
  margin: 0 1em 0 0;
}
.speakers h2 {
  margin: 0;
  padding: 0;
}
.speakers .ponencia {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.speakers .ponencia div {
  display: inline;
}
.speakers .hotness {
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
  color: #ff4000;
  text-shadow: #fff 0 1px 0;
}
.speakers .hotness .wat {
  font-size: 1rem;
  line-height: 1em;
  color: #444;
}

.futer {
  font-weight: 100;
  font-size: 0.7em;
  margin: 2em 0;
  text-align: center;
}
.futer img {
  width: 26px;
}
